
@font-face {
    font-family: 'EotE Symbol';
    src: local("EotE Symbol"), url("EotE Symbol.otf") format("opentype");
  }

/* Roller Styles start here */
.dice {
    height: 60px;
    width: 60px;
    filter: drop-shadow(5px 5px 5px black);
}

.dice:hover {
    transform: scale(1.2);
}

.roller-button {
    width: 95%;
    height: 45%;
    border: none;
    border-radius: 15%;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 2.5%;
    cursor: pointer;
}

#dice-roller-buttons {
    width: 100%;
    height: 60px;
}

.roller-span {
    position: relative;
    height: 70px;
    text-align: center;
}

.response-text{
    text-align: center;
    line-height: 35px;
    transform: translateZ(1000px);
    font-size: 100%;
    font-family: 'EotE Symbol';

}

.small-dice {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateZ(1000px);
    filter: drop-shadow(2px 2px 2px black);
}

.dice-grid{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, 60px);
    transform-style: preserve-3d;
    /* border-radius: 10%;
    border-style: solid; */
}
#dice-roller {
    width: 520px;
}

.setback-die {
    color:white;
}

.single-die {
    font-size: 140%;
    line-height: 22px;
}

/* Character styles */
#character-list {
    width: auto;
    padding-top: 10px;
    margin-top: 5%;
}

.characters-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 152px);
    height: 180px;
    transform-style: preserve-3d;
}

.character-card {
    height: 180px; 
    width: 100%;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
}

.character-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.character-card-image {
    height: 80%;
}
.character-card-text {
    margin: 0;
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 90%;
    text-align: center;
}

.character-image {
    width: 100%;
    max-width: 200px;
}
