{% extends 'core/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/base.css' %}">
<link rel="stylesheet" href="{% static 'core/theme.css' %}">
<div class="account-form account-form-theme">
    <h2>Change Password</h2>
    <table>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <tr>
                <td align="right">{{ field.field.label }}</td>
                <td align="right">{{ field }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td align="right"><button type="submit">Change My Password</button></td>
            </tr>
        </form>
    </table>
</div>
{% endblock %}