nav{
    background-color: rgb(57,52,56);
}

button {
    background-color: rgb(62,115,174);
}
a:link {
    color: rgb(62,115,174);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(62,115,174);
    background-color: transparent;
    text-decoration: none;
  }

/* div{
    background-color: rgb(155,160,168);
} */
  /* attack of the clones colors
Black
rgb(55,54,57)     grey
rgb(112,80,60)    brown
rgb(185,130,86)   light brown
rgb(110,152,158)  tealish blue
rgb(195,198,180)  creamish */

/* Return of the Jedi
rgb(16,11,13) Black
rgb(57,52,56) Dark Grey
rgb(100,94,102) Grey
rgb(62,115,174) Blue
rgb(155,160,168) Light Grey
rgb(214,223,231)  light cream*/
