{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'swcs/style.css' %}">
<link rel="stylesheet" href="{% static 'core/theme.css' %}">
<script type="text/javascript" charset="utf-8">
  var boost = "{% static 'swcs/boost.svg' %}";
  var ability = "{% static 'swcs/ability.svg' %}";
  var proficiency = "{% static 'swcs/proficiency.svg' %}";
  var setback = "{% static 'swcs/setback.svg' %}";
  var difficulty = "{% static 'swcs/difficulty.svg' %}";
  var challenge = "{% static 'swcs/challenge.svg' %}";
  var force = "{% static 'swcs/force.svg' %}";
  var api_root = '{{ settings.WEB_ROOT }}/swcs/rest/'
</script>
<script src="{% static 'swcs/roller.js' %}"></script>
<div id="dice-roller">
  <span id="dice-roller-header" class="dice-grid">
    <span id="dice-roller-buttons">
      <button onclick="rollPool()" class="roller-button">Roll</button><br>
      <button onclick="clearDicePool()" class="roller-button">Clear</button>
    </span>
    <span><img class="dice" src="{% static 'swcs/boost.svg' %}" onclick="addToPool(0)"></span>
    <span><img class="dice" src="{% static 'swcs/ability.svg' %}" onclick="addToPool(1)"></span>
    <span><img class="dice" src="{% static 'swcs/proficiency.svg' %}" onclick="addToPool(2)"></span>
    <span><img class="dice" src="{% static 'swcs/setback.svg' %}" onclick="addToPool(3)"></span>
    <span><img class="dice" src="{% static 'swcs/difficulty.svg' %}" onclick="addToPool(4)"></span>
    <span><img class="dice" src="{% static 'swcs/challenge.svg' %}" onclick="addToPool(5)"></span>
    <span><img class="dice" src="{% static 'swcs/force.svg' %}" onclick="addToPool(6)"></span>
  </span>
  <span id="dice-pool" class="dice-grid">
  </span>
  <span id="dice-roller-results">
  </span>
</div>
{% endblock %}